.logout-nav{
    width: 100%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #645cff;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

.logout-btn{
    background-color: #2ceae5;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin-right: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.logout-btn:hover{
    background: #2ceae5;
    transform: translateY(-4px);
    color: #fff;
    box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}


@media (max-width: 540px){
    .logout-nav{
        padding: .7rem 1rem;
    }
}